<ng-container>
    <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="#">Curso</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a routerLink="/auth/login" class="nav-link">Login</a> 
                    </li>
                    <li class="nav-item">
                        <a routerLink="/dashboard" class="nav-link">Dashboard</a> 
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <main class="login-form">
        <ng-container>
            <router-outlet></router-outlet>
        </ng-container>
    </main>
</ng-container>