<div class="cotainer">
    <app-modal [message]="errorService" [modal]="formModal"></app-modal>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Registers</div>
                <div class="card-body">
                    <form autocomplete="off" [formGroup]="loginForm">
                        <div class="form-group row">
                            <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail
                                Address</label>
                            <div class="col-md-6">
                                <input autocomplete="off"
                                    class="form-control"
                                    [ngClass]="!loginForm.get('username')?.valid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched) ? 'is-invalid' : 'is-valid'"
                                    formControlName="username" id="input-username" type="text" 
                                    placeholder="Username" required autofocus>
                                <div class="error-messages">
                                    <ng-container *ngFor="let error of errorMessages.username">
                                        <div class="error-message"
                                            *ngIf="loginForm.get('username')?.hasError(error.type) && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                                            {{ error.message }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input autocomplete="off" type="password"
                                    class="form-control"
                                    [ngClass]="!loginForm.get('password')?.valid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) ? 'is-invalid' : 'is-valid'"
                                    formControlName="password" id="input-password" 
                                    placeholder="Password">
                                <div class="error-messages">
                                    <ng-container *ngFor="let error of errorMessages.password">
                                        <div class="error-message"
                                            *ngIf="loginForm.get('password')?.hasError(error.type) && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                                            {{ error.message }}
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6 offset-md-4 m">
                            <button type="button" [disabled]="!loginForm.valid" (click)="submit()" class="btn btn-primary">
                                Login
                            </button>
                        </div>

                    </form >
                </div>
            </div>
        </div>
    </div>
</div>