#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 > #alignmentBox {
  position: relative;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Rectangle_1 {
  position: absolute;
  width: 1366.0px;
  min-height: 219.9569528246875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_1 {
  position: absolute;
  width: 239.84794705586773px;
  min-height: 77.96770062660615px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_2 {
  position: absolute;
  width: 1206.0px;
  height: 0.7229995727539062px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_3 {
  position: absolute;
  width: 1206.0px;
  height: 52.055755615234375px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_7 {
  position: absolute;
  width: 223.13281250000023px;
  min-height: 40.042882161838406px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_7 span {
  color: #8E8E93;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_4 {
  position: absolute;
  width: 18.7197265625px;
  height: 29.04547119140625px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_5 {
  position: absolute;
  width: 31.2451171875px;
  height: 25.818206787109375px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_6 {
  position: absolute;
  width: 35.1507568359375px;
  height: 22.590911865234375px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Dynamic_Panel_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_8 {
  width: 427.0570396822666px;
  height: 606.476426400503px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_8 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_8 .verticalalign {
  vertical-align: top;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_14 {
  position: absolute;
  width: 19.8482666015625px;
  height: 8.301841735839844px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Image_9 {
  position: absolute;
  width: 424.32982941143825px;
  height: 406.42992477881535px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_29 {
  position: absolute;
  width: 424.3298294114393px;
  min-height: 99.31303278332553px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_29 span {
  color: #8B8D9A;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #8B8D9A;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_30 {
  position: absolute;
  width: 424.3298294114385px;
  min-height: 42.92399085116176px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_30 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_30 span#rtr-s-Paragraph_30_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_31 {
  position: absolute;
  width: 153.58206512279776px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_31 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_31 span {
  color: #414647;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_31 span#rtr-s-Paragraph_31_0 {
  color: #414647;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Dynamic_Panel_7 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_7 {
  width: 435.05703968226635px;
  height: 606.476426400503px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_7 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_13 {
  position: absolute;
  width: 19.8482666015625px;
  height: 8.301841735839844px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Image_8 {
  position: absolute;
  width: 436.3298292821164px;
  height: 421.52159380560306px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_26 {
  position: absolute;
  width: 436.3298292821171px;
  min-height: 103.00075194334568px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_26 span {
  color: #8B8D9A;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #8B8D9A;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_27 {
  position: absolute;
  width: 436.3298292821167px;
  min-height: 44.51785641996048px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_27 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_28 {
  position: absolute;
  width: 107.0974733476467px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_28 span {
  color: #414647;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #414647;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Dynamic_Panel_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_6 {
  width: 413.0000023287505px;
  height: 578.476426400503px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_6 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_12 {
  position: absolute;
  width: 19.8482666015625px;
  height: 8.301841735839844px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Image_7 {
  position: absolute;
  width: 414.3298295192071px;
  height: 384.14962389407674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_23 {
  position: absolute;
  width: 414.05703930152276px;
  min-height: 102.66550474698033px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_23 span {
  color: #8B8D9A;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #8B8D9A;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_24 {
  position: absolute;
  width: 414.329829519207px;
  min-height: 44.372959550069936px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_24 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_25 {
  position: absolute;
  width: 150.2354523944125px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_25 span {
  color: #414647;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #414647;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Dynamic_Panel_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_5 {
  width: 435.05703968226635px;
  height: 578.476426400503px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_11 {
  position: absolute;
  width: 19.8482666015625px;
  height: 8.301841735839844px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Image_6 {
  position: absolute;
  width: 434.32982930367007px;
  height: 385.85037610592394px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_20 {
  position: absolute;
  width: 434.3298293036705px;
  min-height: 94.28432483784331px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_20 span {
  color: #8B8D9A;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #8B8D9A;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_21 {
  position: absolute;
  width: 434.32982930367035px;
  min-height: 40.750537802799045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_22 {
  position: absolute;
  width: 102.7257477995349px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_22 span {
  color: #414647;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #414647;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Dynamic_Panel_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_4 {
  width: 413.0570396822661px;
  height: 558.476426400503px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_10 {
  position: absolute;
  width: 19.8482666015625px;
  height: 8.301841735839844px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Image_5 {
  position: absolute;
  width: 414.32982951920667px;
  height: 369.38673716761014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_17 {
  position: absolute;
  width: 414.3298295192071px;
  min-height: 92.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_17 span {
  color: #8B8D9A;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #8B8D9A;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_18 {
  position: absolute;
  width: 414.32982951920735px;
  min-height: 39.0117753641091px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_19 {
  position: absolute;
  width: 136.66752658876317px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_19 span {
  color: #414647;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #414647;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Dynamic_Panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_3 {
  width: 435.0570396822661px;
  height: 558.476426400503px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_9 {
  position: absolute;
  width: 19.8482666015625px;
  height: 8.301841735839844px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Image_4 {
  position: absolute;
  width: 434.32982930367007px;
  height: 376.24658672524095px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_14 {
  position: absolute;
  width: 434.329829303671px;
  min-height: 91.93759446328522px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_14 span {
  color: #8B8D9A;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #8B8D9A;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_15 {
  position: absolute;
  width: 434.32982930367035px;
  min-height: 39.736259713563186px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_16 {
  position: absolute;
  width: 108.72574779953493px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_16 span {
  color: #414647;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #414647;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_2 {
  width: 413.0570396822661px;
  height: 564.476426400503px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_8 {
  position: absolute;
  width: 19.8482666015625px;
  height: 8.301841735839844px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Image_2 {
  position: absolute;
  width: 410.32982956231444px;
  height: 378.42507298089413px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_8 {
  position: absolute;
  width: 410.3298295623156px;
  min-height: 92.46991766031215px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_8 span {
  color: #8B8D9A;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #8B8D9A;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_9 {
  position: absolute;
  width: 410.32982956231467px;
  min-height: 39.96633461308727px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_13 {
  position: absolute;
  width: 124.2650412221958px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_13 span {
  color: #414647;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #414647;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_1 {
  width: 435.05703968226635px;
  height: 564.4764264005029px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Path_7 {
  position: absolute;
  width: 19.8482666015625px;
  height: 8.301841735839844px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Image_3 {
  position: absolute;
  width: 430.3298293467773px;
  height: 373.59060432097635px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_10 {
  position: absolute;
  width: 430.3298293467784px;
  min-height: 91.28859287283854px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_10 span {
  color: #8B8D9A;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #8B8D9A;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_11 {
  position: absolute;
  width: 430.32982934677784px;
  min-height: 39.45575535728699px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_12 {
  position: absolute;
  width: 103.98229670331172px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_12 span {
  color: #414647;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #414647;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Image_10 {
  position: absolute;
  width: 124.00000000000034px;
  height: 128.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_3 {
  position: absolute;
  width: 172.92659511101397px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_5 {
  position: absolute;
  width: 142.70057317682745px;
  min-height: 34.2416624484903px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_6 {
  position: absolute;
  width: 102.2891549993625px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(54,2,2,0.0);
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 #s-Image_1 {
  position: absolute;
  width: 71.73058570557305px;
  height: 55.00797910756205px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-08c75814-8a8a-4d7a-8f08-9c48a510b347 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}