#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f > #alignmentBox {
  position: relative;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_1 {
  position: absolute;
  width: 1366.0px;
  min-height: 219.9569528246875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_1 {
  position: absolute;
  width: 239.84794705586773px;
  min-height: 77.96770062660615px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Path_2 {
  position: absolute;
  width: 1206.0px;
  height: 0.758331298828125px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Path_3 {
  position: absolute;
  width: 1206.0px;
  height: 54.600006103515625px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_7 {
  position: absolute;
  width: 223.1328125000001px;
  min-height: 42.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_7 span {
  color: #8E8E93;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Path_4 {
  position: absolute;
  width: 18.7197265625px;
  height: 30.465087890625px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Path_5 {
  position: absolute;
  width: 31.2451171875px;
  height: 27.080078125px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Path_6 {
  position: absolute;
  width: 35.1507568359375px;
  height: 23.695068359375px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Ellipse_1 {
  width: 51.07664811822622px;
  height: 50.57258245013861px;
  min-height: 50.57258245013861px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Ellipse_2 {
  width: 51.076648118226444px;
  height: 50.57258245013861px;
  min-height: 50.57258245013861px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Ellipse_3 {
  width: 51.076648118226444px;
  height: 50.57258245013861px;
  min-height: 50.57258245013861px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #E06EA3;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Ellipse_4 {
  width: 51.0766481182261px;
  height: 50.57258245013861px;
  min-height: 50.57258245013861px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #81E2D0;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Hotspot_1 {
  position: absolute;
  width: 58.17062702353485px;
  height: 57.596552234880505px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Hotspot_2 {
  position: absolute;
  width: 58.17062702353553px;
  height: 57.596552234880505px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Hotspot_4 {
  position: absolute;
  width: 58.170627023535076px;
  height: 57.596552234880505px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_8 {
  position: absolute;
  width: 270.98999418281096px;
  min-height: 71.1070516920455px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 23px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 23px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Image_2 {
  position: absolute;
  width: 25.057207997959836px;
  height: 19.847938565019035px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Image_6 {
  position: absolute;
  width: 25.057207997959836px;
  height: 19.847938565019035px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Image_8 {
  position: absolute;
  width: 25.057207997959836px;
  height: 19.847938565019035px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Image_9 {
  position: absolute;
  width: 25.057207997959836px;
  height: 19.847938565019035px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_9 {
  position: absolute;
  width: 201.97362782568496px;
  min-height: 50.502707488158535px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 23px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 23px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_7 {
  position: absolute;
  width: 62.409000537029215px;
  min-height: 63.96266913019781px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_8 {
  position: absolute;
  width: 62.409000537027964px;
  min-height: 63.96266913019781px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_9 {
  position: absolute;
  width: 62.409000537027964px;
  min-height: 63.96266913019781px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_9 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #1EAAF1;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #1EAAF1;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #1EAAF1;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #1EAAF1;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_10 {
  position: absolute;
  width: 62.40900053702728px;
  min-height: 63.96266913019781px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_10 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_11 {
  position: absolute;
  width: 62.409000537027396px;
  min-height: 63.96266913019781px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_11 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_11 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Button_1 {
  position: absolute;
  width: 286.31529850746267px;
  min-height: 62.81367654921701px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Button_1 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Path_7 {
  position: absolute;
  width: 20.403564453125px;
  height: 19.873695373535156px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_10 {
  position: absolute;
  width: 390.1716417910451px;
  min-height: 92.74598544351306px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_10 span {
  color: #8B8D9A;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #8B8D9A;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_11 {
  position: absolute;
  width: 539.0000000000003px;
  min-height: 118.16977531289717px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_13 {
  position: absolute;
  width: 100.1800362957058px;
  min-height: 33.30239122454361px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_13 span {
  color: #414647;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #414647;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_12 {
  position: absolute;
  width: 452.2776530265488px;
  min-height: 470.1128049465329px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 20.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #F2F4F6;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_12 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 20.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 20.0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Image_7 {
  position: absolute;
  width: 520.329828333754px;
  height: 518.9609920361255px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Image_10 {
  position: absolute;
  width: 124.00000000000034px;
  height: 128.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_3 {
  position: absolute;
  width: 172.92659511101397px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_5 {
  position: absolute;
  width: 142.70057317682745px;
  min-height: 34.2416624484903px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_6 {
  position: absolute;
  width: 102.2891549993625px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(54,2,2,0.0);
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f #s-Image_1 {
  position: absolute;
  width: 71.73058570557305px;
  height: 55.00797910756205px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-508d70ce-a2cb-48a2-80e6-24dc10000e3f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}