#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd > #alignmentBox {
  position: relative;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Rectangle_1 {
  position: absolute;
  width: 1366.0px;
  min-height: 219.9569528246875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_1 {
  position: absolute;
  width: 239.84794705586773px;
  min-height: 77.96770062660615px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Path_2 {
  position: absolute;
  width: 1206.0px;
  height: 0.758331298828125px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Path_3 {
  position: absolute;
  width: 1206.0px;
  height: 54.600006103515625px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_7 {
  position: absolute;
  width: 223.1328125000001px;
  min-height: 42.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_7 span {
  color: #8E8E93;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Path_4 {
  position: absolute;
  width: 18.7197265625px;
  height: 30.465087890625px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Path_5 {
  position: absolute;
  width: 31.2451171875px;
  height: 27.080078125px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Path_6 {
  position: absolute;
  width: 35.1507568359375px;
  height: 23.695068359375px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Image_2 {
  position: absolute;
  width: 124.00000000000034px;
  height: 128.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Panel_1 {
  width: 344.0px;
  height: 349.5px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Panel_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_9 {
  position: absolute;
  width: 224.57812500000023px;
  min-height: 136.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_9 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_3 {
  position: absolute;
  width: 172.92659511101397px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_5 {
  position: absolute;
  width: 142.70057317682745px;
  min-height: 34.2416624484903px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_6 {
  position: absolute;
  width: 102.2891549993625px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(54,2,2,0.0);
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd #s-Image_1 {
  position: absolute;
  width: 71.73058570557305px;
  height: 55.00797910756205px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6f1cb80e-6fb3-4b0e-aa89-6dbdcc66cedd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}