#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 > #alignmentBox {
  position: relative;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_1 {
  position: absolute;
  width: 1366.0px;
  min-height: 219.9569528246875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_1 {
  position: absolute;
  width: 239.84794705586773px;
  min-height: 77.96770062660615px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Path_2 {
  position: absolute;
  width: 1206.0px;
  height: 0.758331298828125px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Path_3 {
  position: absolute;
  width: 1206.0px;
  height: 54.600006103515625px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_7 {
  position: absolute;
  width: 223.1328125000001px;
  min-height: 42.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_7 span {
  color: #8E8E93;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Path_4 {
  position: absolute;
  width: 18.7197265625px;
  height: 30.465087890625px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Path_5 {
  position: absolute;
  width: 31.2451171875px;
  height: 27.080078125px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Path_6 {
  position: absolute;
  width: 35.1507568359375px;
  height: 23.695068359375px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_2 {
  position: absolute;
  width: 1366.0000000000002px;
  min-height: 944.4349357386596px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_8 {
  position: absolute;
  width: 396.97607421875px;
  min-height: 146.70044283988818px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_8 span {
  color: #8D8D8D;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #8D8D8D;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_9 {
  position: absolute;
  width: 476.2359619140625px;
  min-height: 111.20840021733443px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 33.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 33.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_4 {
  position: absolute;
  width: 51.999999999999886px;
  min-height: 57.970336283504196px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #EDEDED;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 24.0px;
  border-top-right-radius: 24.0px;
  border-bottom-right-radius: 24.0px;
  border-bottom-left-radius: 24.0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_5 {
  position: absolute;
  width: 26.000000000000057px;
  min-height: 28.985168141752013px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #EDEDED;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 11.0px;
  border-top-right-radius: 11.0px;
  border-bottom-right-radius: 11.0px;
  border-bottom-left-radius: 11.0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Ellipse_1 {
  width: 400.0px;
  height: 473.22723496738104px;
  min-height: 473.22723496738104px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #EFEFEF 46.50962787304873%, #EFEFEF 65.77500122251041%, #FFFFFF 93.76431722078493%);
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Image_2 {
  position: absolute;
  width: 566.5779625779626px;
  height: 379.6913320558902px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_10 {
  position: absolute;
  width: 396.97607421875px;
  min-height: 146.70044283988818px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_10 span {
  color: #8D8D8D;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #8D8D8D;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_11 {
  position: absolute;
  width: 476.2359619140625px;
  min-height: 116.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_11 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 33.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 33.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Image_3 {
  position: absolute;
  width: 429.5779625779626px;
  height: 294.69133205589014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Image_4 {
  position: absolute;
  width: 124.00000000000034px;
  height: 128.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_3 {
  position: absolute;
  width: 172.92659511101397px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_5 {
  position: absolute;
  width: 142.70057317682745px;
  min-height: 34.2416624484903px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_6 {
  position: absolute;
  width: 102.2891549993625px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(54,2,2,0.0);
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 #s-Image_1 {
  position: absolute;
  width: 71.73058570557305px;
  height: 55.00797910756205px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8c1a3b77-3226-47a6-9cf9-c27139637a22 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}