#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf > #alignmentBox {
  position: relative;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_42 {
  position: absolute;
  width: 1365.999999999999px;
  min-height: 732.9999999999995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_42 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #F6F8FF 46.50962787304873%, #FFFFFF 80.67840324756568%, #FFFFFF 93.76431722078493%);
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_42 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_42 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_42 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_42 span#rtr-s-Rectangle_42_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rect_2 {
  position: absolute;
  width: 1206.0px;
  height: 0.758331298828125px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rect_3 {
  position: absolute;
  width: 1206.0px;
  height: 54.600006103515625px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_67 {
  position: absolute;
  width: 223.1328125000001px;
  min-height: 42.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_67 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_67 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_67 span {
  color: #8E8E93;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_67 span#rtr-s-Paragraph_67_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Path_26 {
  position: absolute;
  width: 18.7197265625px;
  height: 30.465087890625px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Path_27 {
  position: absolute;
  width: 31.2451171875px;
  height: 27.080078125px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Path_28 {
  position: absolute;
  width: 35.1507568359375px;
  height: 23.695068359375px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_10 {
  position: absolute;
  width: 1206.0000000000011px;
  min-height: 418.2910802789045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_3 {
  position: absolute;
  width: 1366.0px;
  min-height: 219.9569528246875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_7 {
  position: absolute;
  width: 239.84794705586773px;
  min-height: 77.96770062660615px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_7 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_2 {
  position: absolute;
  width: 141.77468483884786px;
  min-height: 64.48855257719015px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_12 {
  position: absolute;
  width: 176.85171779870802px;
  min-height: 50.69105582482666px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_12 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Button_3 {
  position: absolute;
  width: 272.06080263454623px;
  min-height: 49.43932436830005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999996%);
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Button_3 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Button_3 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Button_3 span#rtr-s-Button_3_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_6 {
  position: absolute;
  width: 253.95181696027794px;
  min-height: 71.9664128700216px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_4 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_4 input::-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_4 input:-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_4 input:-ms-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_4 {
  position: absolute;
  width: 279.7394521028216px;
  height: 55.145520807050104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_4 .valign {
  vertical-align: middle;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_5 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_5 input::-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_5 input:-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_5 input:-ms-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_5 {
  position: absolute;
  width: 279.7394521028216px;
  height: 55.14552080705005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_5 .valign {
  vertical-align: middle;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_6 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_6 input::-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_6 input:-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_6 input:-ms-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_6 {
  position: absolute;
  width: 279.7394521028216px;
  height: 55.145520807049934px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_6 .valign {
  vertical-align: middle;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_8 {
  position: absolute;
  width: 126.97590848013874px;
  min-height: 59.41923156824089px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_8 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_7 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_7 input::-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_7 input:-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_7 input:-ms-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_7 {
  position: absolute;
  width: 279.7394521028216px;
  height: 55.1455208070505px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_7 .valign {
  vertical-align: middle;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_10 {
  position: absolute;
  width: 260.54861823585634px;
  min-height: 82.74002972167756px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_11 {
  position: absolute;
  width: 213.8511743361778px;
  min-height: 82.74002972167762px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_11 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_1 {
  position: absolute;
  width: 279.7394521028218px;
  height: 55.14552080705005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_1 .valign {
  vertical-align: middle;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_2 input::-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_2 input:-moz-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_2 {
  position: absolute;
  width: 279.7394521028218px;
  height: 55.145520807050104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_2 .valign {
  vertical-align: middle;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Image_2 {
  position: absolute;
  width: 124.00000000000034px;
  height: 128.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_3 {
  position: absolute;
  width: 172.92659511101397px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_5 {
  position: absolute;
  width: 142.70057317682745px;
  min-height: 34.2416624484903px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_9 {
  position: absolute;
  width: 102.2891549993625px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_9 > .backgroundLayer > .colorLayer {
  background-color: rgba(54,2,2,0.0);
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf #s-Image_1 {
  position: absolute;
  width: 71.73058570557305px;
  height: 55.00797910756205px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a8b4b8e9-c14a-4a47-9bac-3b9cdd74e5bf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}