#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a > #backgroundBox {
  background-color: rgba(229,241,248,0.1);
  position: absolute;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a > #alignmentBox {
  position: relative;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Rectangle_1 {
  position: absolute;
  width: 1366.0px;
  min-height: 219.9569528246875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_1 {
  position: absolute;
  width: 239.84794705586773px;
  min-height: 77.96770062660615px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 27.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Path_2 {
  position: absolute;
  width: 1206.0px;
  height: 0.758331298828125px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Path_3 {
  position: absolute;
  width: 1206.0px;
  height: 54.600006103515625px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_7 {
  position: absolute;
  width: 223.1328125000001px;
  min-height: 42.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_7 span {
  color: #8E8E93;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #8E8E93;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Path_4 {
  position: absolute;
  width: 18.7197265625px;
  height: 30.465087890625px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Path_5 {
  position: absolute;
  width: 31.2451171875px;
  height: 27.080078125px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Path_6 {
  position: absolute;
  width: 35.1507568359375px;
  height: 23.695068359375px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Image_3 {
  position: absolute;
  width: 124.00000000000034px;
  height: 128.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Table_1 {
  position: absolute;
  width: 1062.0000000000007px;
  height: 239.2099999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Table_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_25 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_25 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_25 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_25 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_25 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_25 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_28 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_28 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_28 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_28 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_28 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_28 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_31 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_31 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_31 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_31 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_31 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_31 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_46 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_46 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_46 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_46 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_46 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_46 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_53 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_53 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_53 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_53 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_53 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_53 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_26 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_26 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_26 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_26 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_26 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_26 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_29 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_29 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_29 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_29 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_29 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_29 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_32 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_32 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_32 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_32 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_32 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_32 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_47 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_47 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_47 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_47 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_47 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_47 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_54 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_54 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_54 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_54 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_54 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_54 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_27 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_27 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_27 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_27 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_27 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_27 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_30 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_30 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_30 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_30 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_30 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_30 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_33 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_33 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_33 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_33 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_33 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_33 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_48 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_48 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_48 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_48 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_48 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_48 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_55 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_55 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_55 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_55 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_55 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_55 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_34 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_34 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_34 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_34 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_34 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_34 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_35 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_35 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_35 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_35 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_35 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_35 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_36 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_36 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_36 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_36 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_36 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_36 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_49 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_49 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_49 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_49 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_49 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_49 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_56 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_56 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_56 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_56 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_56 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_56 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_37 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_37 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_37 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_37 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_37 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_37 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_38 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_38 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_38 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_38 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_38 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_38 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_39 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_39 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_39 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_39 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_39 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_39 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_50 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_50 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_50 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_50 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_50 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_50 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_57 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_57 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_57 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_57 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_57 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_57 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_40 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_40 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_40 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_40 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_40 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_40 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_41 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_41 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_41 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_41 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_41 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_41 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_42 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_42 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_42 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_42 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_42 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_42 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_51 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_51 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_51 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_51 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_51 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_51 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_58 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_58 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_58 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_58 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_58 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_58 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_43 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_43 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_43 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_43 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_43 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_43 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_44 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_44 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_44 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_44 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_44 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_44 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_45 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_45 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_45 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_45 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_45 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_45 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_52 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_52 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_52 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_52 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_52 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_52 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_59 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_59 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_59 .verticalalign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_59 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_59 {
  width: 20.0%;
  height: 14.306151645207441%;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Cell_59 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Button_1 {
  position: absolute;
  width: 278.15198666936703px;
  min-height: 42.875776397515665px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999996%);
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Button_1 .paddingLayer {
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  grayscale(100.0%);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_8 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Input_1 {
  position: absolute;
  width: 256.1519866693684px;
  height: 36.3214173054248px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Input_1 .valign {
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Category_1 {
  position: absolute;
  width: 255.7260742187501px;
  height: 48.50000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Category_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  saturate(200.0%);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  saturate(200.0%);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  saturate(200.0%);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_11 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_12 {
  position: absolute;
  width: 184.90203857421875px;
  min-height: 68.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  saturate(200.0%);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_12 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  saturate(200.0%);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_13 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_2 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_3 {
  position: absolute;
  width: 172.92659511101397px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_5 {
  position: absolute;
  width: 142.70057317682745px;
  min-height: 34.2416624484903px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_5 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_6 {
  position: absolute;
  width: 102.2891549993625px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(54,2,2,0.0);
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a #s-Image_1 {
  position: absolute;
  width: 71.73058570557305px;
  height: 55.00797910756205px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f9c98e0f-46ca-46bc-b177-0b32dbd8908a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}